# Altium ----------------------------------------

*_PCB/Project*/*
*_PCB/History/*
*_PCB/__Previews/*
*_PCB/*.htm

# PSOC Creator ----------------------------------------

# ignore PSoC Creator workspaces
*.cywrk

# folders generated after build (any PSoC series)

Anahata*/Generated_Source/*
Anahata*/Cortex*/*
Anahata*/codegentemp/*
Anahata*/Export/*

# Ignore files generated after project build

*.cycdx
*.cyfit
*.rpt
*.log

# Ignoring OneDrive version of project file

*cyprj.*
*cywrk.*
 